@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  height:100vh;
  background-color: #f6f7f9;
  font-family: "Inter Tight", "sans-serif";
}

:root {
  --font-inter: 'Inter Tight', sans-serif;
}

@layer base {
  :root {
    --color-primary: #f6f7f9;
    --color-secondary: #ffffff;
    --color-third: #ffffff;
    --color-vault-input: #f6f8f9;
    --color-input-field: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #1D4264;
    --color-text-primary: #0a0a0a;
    --color-text-secondary: #0a133999;
    --color-text-third: #9d9fa8;
    --color-text-fourth: #0a0a0a;
    --color-button-primary: #ebebeb;
    --color-button-secondary: #0A1339;
    --color-button-third:#f6f8f9;
    --color-button-text-primary: #0A0A0A;
    --color-button-text-secondary: #ffffff;
    --title-text-color: #0a0a0a!important;
    --row-title-color: #0a0a0a!important;
    --row-content-color: #0a0a0a!important;
	--primary-green: #61CD81;
  }

  .dark,
  :root[class~="dark"] {
    --color-primary: #2E2E2E;
    --color-secondary: #3c3c3c;
    --color-third: #494949;
    --color-vault-input: #3c3c3c;
    --color-input-field: #222222;
    --color-text-primary: #f1f1f1;
    --color-text-secondary: #cbcbcb;
    --color-text-third: #c7c8ce;
    --color-text-fourth: #61CD81;
    --color-button-primary: #494949;
    --color-button-secondary: #61CD81;
    --color-button-third: #222222;
    --color-button-text-primary: #f1f1f1;
    --color-button-text-secondary: #3c3c3c;
    --title-text-color: #f1f1f1!important;
    --row-title-color: #f1f1f1!important;
    --row-content-color: #f1f1f1!important;
	--primary-green: #61CD81;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.theme-switch {
	--diameter: 2.5rem;
	--spacing: 0.3rem;
	inline-size: 4rem; /* width */
	block-size: 2.3rem; /* height */
	border: none;
	cursor: pointer;
	color: var(--clr-text);
	position: relative;
	border-radius: 100vh;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	transition:
		background-color 0.4s ease-in-out,
		color 0.4s ease-in-out;

	margin-right: 20px;
}

.theme-switch::before {
	content: '';
	position: absolute;
	inset-inline-start: var(--spacing); /* left */
	inset-block-start: var(--spacing); /* top */
	border-radius: 100vh;
	inline-size: 1.7rem; /* width */
	block-size: 1.7rem; /* height */
	background: #ffffff;
	transition: inset-inline-start 0.4s ease-in-out; /* left */
}

.theme-switch.dark::before {
	--offset: calc(100% - 2.3rem);
	inset-inline-start: calc(var(--spacing) + var(--offset)); /* left */
}



.on-off-toggle {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 60px;
}
.on-off-toggle .on-off-toggle__input {
  height: 0;
  opacity: 0;
  width: 0;
}
.on-off-toggle .on-off-toggle__input:checked+.on-off-toggle__slider {
  background-color: initial;
  border: 2px solid #61cd81;
}
.on-off-toggle .on-off-toggle__slider.round {
  border-radius: 34px;
}
.on-off-toggle .on-off-toggle__slider {
  background-color: gray;
  border: 2px solid gray;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.on-off-toggle .on-off-toggle__input:checked+.on-off-toggle__slider:before {
  background-color: #61cd81;
  transform: translateX(30.5px);
}

.on-off-toggle__slider.round:before {
  border-radius: 50%;
}
.on-off-toggle .on-off-toggle__slider:before {
  background-color: #fff;
  bottom: 1.7px;
  content: "";
  height: 22px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 22px;
}
.on-off-toggle .on-off-toggle__input:checked+.on-off-toggle__slider:after {
  color: #000;
  content: "ON";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: .7;
  padding-left: 4px;
  transform: translateX(30.5px);
}

.on-off-toggle .on-off-toggle__slider:after {
  color: #fff;
  content: "OFF";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: .7;
  padding-left: 26px;
}

.on-off-toggle__slider.rounded-full:before {
  border-radius: 50%;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}